# PostgreSQL database system version
PG_VERSION=16

# NVIDIA Triton Inference Server version
TRITON_VERSION=24.09

# FALPRS working directory
FALPRS_WORKDIR=/opt/falprs

# ONNX model file checksum when migrating from a deprecated FRS project (optional)
# ARCFACE_SHA1=

# PostgreSQL configuration for DB FRS
PG_USER_FRS=falprs
PG_PASSWD_FRS=123
PG_HOST_FRS=localhost
PG_PORT_FRS=5432
PG_DB_FRS=frs

# PostgreSQL configuration for DB LPRS
PG_USER_LPRS=falprs
PG_PASSWD_LPRS=123
PG_HOST_LPRS=localhost
PG_PORT_LPRS=5432
PG_DB_LPRS=lprs
